*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  margin: 0%;
  padding: 0;
  width: 100%;
 background-color:#fff8f0;
 }
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color:#9d4e2a;
  opacity: 0.9;
  color: white;
  z-index: 10;
  line-height: 55px;
  box-sizing: border-box;
  position: fixed;
}
.header .logo {
  position: absolute;
  left: 20px;
  top: 50%; 
  transform: translateY(-50%);
  font-size: 24px;
  width: 55px;
  text-align: center;
}
.search-box {
  position: absolute;
  left:14%; 
  top: 50%;  
  transform: translate(-50%, -50%);
  width: 250px;
  height: 35px;
  background-color: aliceblue;
  border-radius:20px ;
}
.search-input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding-left: 30px;
  background-color: rgba(255,255,255,0.1);
  color: rgb(0, 0, 0);
  font-size: 14px;
  box-sizing: border-box;
}
.search-box .search-icon {
  position: absolute;
  left: 10px;    
  top: 50%; 
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.header .list {
  position: absolute;
  right: 20px;       
  top: 50%;         
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .list li {
  float: left;
  margin-right: 40px;
  margin-left:5px;
}
.header .list li a{
    text-decoration: none;
    color: #ffdab9;
    position: relative;
    font-size: 19px;
}
.header .list li a::after{
    content:"" ;
    position: absolute;
    bottom:-5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffa500;
    transition:.5;
}
.header .list li a:hover::after{
    width: 100%;
    height: 2px;
    transition:1s;
}
.home-section{
    background-image: url(../image/44050246-spaghetti-pasta-with-tomatoes-and-parsley-on-wooden-table-top-view-with-copy-space.jpg);
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}
.home-overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.6);
}
.home-content{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-titlle{
    font-size: 65px;
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Poppins', sans-serif';;
}
.prag-home{
    font-size: 22px;
    color:#cbcbcb;
    letter-spacing: 2px;
}
.home-btn{
    width: 140px;
    margin-top: 20px;
    border: 0;
    padding:12px 0;
    border-radius:12px;
    font-size: 19px;
    text-transform: capitalize;
    cursor: pointer;
}
.btn2-home{
    background-color: #9d4e2a;
    margin-left: 5px;
    color: aliceblue;
}
.home-btn:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.header .list .dropdown {
    position: relative;
}

.dropdown-menu {
    display: none; 
    padding-left:10px ;
    position: absolute;
    list-style: none;
    min-width:180px;
    background-color: rgb(0, 0, 0); 
    height: 170px;
    border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li { 
    margin: 0;
    text-align: center; 
}

.dropdown-menu li a {
    color: #ffdab9; 
    text-decoration: none;
    font-size: 16px;
    position: relative; 
}
.dropdown-menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0; 
    width: 0%;
    height: 2px;
    background-color: #FFA500; 
    transition: 1s;
    bottom: -2px;
}
.dropdown-menu li a:hover::after {
    width: 100%;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.welcome{
     height: 100VH;
     background-color:#fff8f0;
}
.welcome-section{
    position: relative;
    text-align: center;
    padding:20px 30px;
}
.welcome-tittle,.offer-tittle1,.dishes-tittle,.pricing-tittle,.team-tittle,.news-tittle{
    font-size:45px;
    padding-top:50px;
    margin-bottom:1px;
    text-transform: capitalize;
    line-height:65px;
    text-align: center;
}
.welcome-underline,.offer-underline,.dishes-underline,.pricing-underline,.team-underline,.news-underline{
    background-color: #9d4e2a;
    height: 3px;
    width: 120px;
    margin: auto;
}
.welcome-parant{
    width: 80%;
    margin: auto;
}
.card-welcome{
    width:1100px;
    overflow: hidden;
    margin-left:180px;
}
.card{
    float: left;
    border-radius: 10px;
    padding: 30px 20px;
    width:270px;
    transition: 0.3s;
    border:1px solid #9d4e2a;
    text-align: center;
    margin-right: 20px;
    margin-top:100px;
    position: relative;
    background-color:#f6e0c8;
}
.welcome-tittle1{
    font-size: 23px;
    padding:8px 0;
}
.card:hover .welcome-tittle1{
    color: #9d4e2a;
}
.prag-wwelcome{
   color: rgb(97, 97, 97);
   font-weight: bold;
    padding: 8px 0;
}
.card:hover .prag-wwelcome{
    color:black;
}
.welcomea{
    text-decoration:none;
    color:#794127 ;
}
.card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color:#9d4e2a;
    opacity: 0.2;
}
.card:hover::after{
    width: 100%;
    height: 100%;
     transition:1s;
}
.icon{
    padding:8px;
    color: #9d4e2a;
    font-size: 30px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.dishes{
    height: 100vh;
    background-color:#f6e0c8;
}
.dishes-section{
    text-align: center;
    padding:30px 30px;
}
.dish-contaner1{
    width:80% ;
    margin: auto;
    text-align: center;
}
.dish-item{
    position: relative;
    overflow: hidden;
    width:25%;
    display: inline-block;
    margin: 5px;
}
.dish-item img{
    width:100%;
    height:250px;
    display: block;
    transition: 0.3s;
}
.overlaydish{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(157, 78, 42,.3);
    opacity: 0;
    text-align: center;
    transition: 0.3s;
}
.dish-item:hover .overlaydish{
    opacity: 1;
}
.dishtittle{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color:#fff8f0 ;
    margin:40px;
}
.dishprag{
font-size: 20px;
 color:#fff8f0 ;
}
.DISHICON{
    font-size:25px;
    margin-top:40px;
}
.fa-heart,.fa-pinterest{
       color:#9d4e2a;
       border: 1px solid black;
       background-color: white;
       padding:5px;
       border-radius:10px;
       margin-right:1px;
       text-align: center;
}
.dish-contaner2{
    width:80% ;
    margin: auto;
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */     
.offer{
  height:100vh;
}
.offer-container{
    width: 90%;
    margin: auto;
}
.offer-parant{
    margin:0px 100px 0px 100px;
    width:90%;
    overflow: auto;
    padding-top: 20px;
}
.offer-card{
    float: left;
    position: relative;
    margin:50px 55px 10px 27px;
    border-radius: 10px;
    padding:10px 20px;
    width:320px;
    height:180px;
    transition: 0.3s;
    border:1px solid #9d4e2a;
    background-color:#f6e0c8;
}
.offer-card i{
    font-size: 36px;
    color: #9d4e2a;
    line-height:1.6;
    display:block;
    float:left;
    margin-right: 15px;
}
.offer-tittle{
    display: inline;
}
.offer-prag{
  padding-top: 10px;
    padding-left:50px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}
.offer-card:hover .offer-tittle{
    color: #9d4e2a;
}
.offer-card:hover .offer-prag{
    color: #000000;
}
.offer-card::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #9d4e2a;
    opacity: 0.2;
}
.offer-card:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */  
 .choose {
    height: 100vh;
    overflow: hidden; 
}
.choose-text {
    float: left;
    width: 55%; 
}
.choose-imag {
    float: right;
    width:25%;
    text-align: center;
    margin-right:60px;
}
.choose-imag img {
    width: 100%;
    height:650px;
    padding-top:100px;
    margin-bottom:10px;
}
.choose-tittle1{
    font-size:45px;
    line-height:65px;
    padding:200px 0 0 50px;
    margin-bottom:10px;
    margin-left:80px;
}
.choose-underline{
    background-color: #9d4e2a;
    margin:10px 0 0 130px;
    height: 3px;
    width: 120px;
    
}
.choose-prag{
    font-size:15px;
    font-weight: bold;
    line-height:30px;
    color: rgb(67, 67, 67);
    padding: 20px 0;
    margin-left:140px;
}
.choose-text ul{
    list-style:none;
   padding-left:60px;
}
.choose-text li{
    padding-bottom: 12px;
    font-weight: bold;
    line-height:30px;
    color: rgb(74, 74, 74);
    margin-left:80px;
}
.choose-text li i{
    color: #9d4e2a;
    margin-right: 10px;
    font-size:20px;
}
.dot-navigation{
    text-align: center;
    margin-top: 20px;
}
.dots{
    list-style: none;
    display: inline-block;
}
.dot{
    height: 12px;
    width: 12px;
    margin:0 6px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s;
    border:.5px solid gray;
}
.active{
    background-color: #9d4e2a;
}
.dot:hover{
    background-color: #9d4e2a;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.stats-section,.stats1-section {
  background-image: url("../image/44050246-spaghetti-pasta-with-tomatoes-and-parsley-on-wooden-table-top-view-with-copy-space.jpg");
  background-size: cover;
  background-position: center top; 
  background-repeat: no-repeat;
  height:50vh;        
  width: 100%;
  position: relative;
  background-attachment:fixed; 
}
.state-overlay,.state1-overlay,.overlay-content,.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.state-content {
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
  width:70%;
  left:330px;
}
.stat-item{
   float: left;
   width: 20%;
   margin-right: 0 2%;
   text-align: center;
}
.ico{
     font-size: 40px;
     color: #9d4e2a;
     margin-bottom:5px;
    border-radius:10px;
    background-color: white;
    padding:4px;
}
.stat-number{
    font-size: 40px;
    margin:5px 0;
}
.stat-desciption{
    font-size: 18px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.pricing{
    height: 100vh;
     text-align: center;
}
.pricing-container{
    width:80% ;
    margin: 0 auto;
}
.pricing-card{
    width: 300px;
    float: left;
    margin:60px 45px ;
    border-radius: 10px;
    border: 1px solid #9d4e2a;
    background-color:#f6e0c8;
    position: relative;
    z-index: 1;
}
.card-tittle{
    font-size: 20px;
    font-weight: bold;
    padding-top:35px;
    padding-bottom:20px;
    font-weight: bold;
}
.price-box{
    width:100px;
    height:100px;
    border-radius:50%;
    border: 2px solid hsla(19, 58%, 39%,.5);
    margin: auto;
    padding-top:10px;
    position:relative;
    z-index:3;
    font-weight: bold;
}
.pricing-card:hover .price-box{
      border:2px solid #9d4e2a;
}
.price{
    font-size:45px;
}
.price-list{
    list-style: none;
    line-height:35px;
    padding:20px;
}
.price-list li{
    font-weight: bold;
    color: rgb(74, 74, 74);
}
.price-btn{
    border-radius: 8px;
    background-color:#fff8f0;
    border:2px solid #9d4e2a;
    width: 180px;
    height:35px;
    margin: auto;
    cursor: pointer;
    margin-bottom:30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    font-size:18px;
    z-index:100;
}
.price-btn:hover{
    background-color:hsla(32, 100%, 97%,.5);
}
.pricing-card::after,.team-item::after ,.news-item::after{
    content: "";
    position: absolute;
    top:0;
    right:0; 
    width:100%;
    height:0px;
    background-color:#9d4e2a;
    transition: 1s;
    opacity: 0.2;
}
.pricing-card:hover::after ,.team-item:hover::after,.news-item:hover::after{
    width: 100%;
    height: 100%;
}
.pricing-card:hover .card-tittle{
    color: #9d4e2a;}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.stats1-section{
  background-image: url(../image/photo_2026-01-03_15-38-05\ \(2\).jpg);
  background-size:100% 100%;
  background-position:cover; 
  background-repeat: no-repeat;
  height: 50vh;        
  width: 100%;
  position: relative;
  background-attachment:fixed; 
}
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.chef {
  width:400px;
  text-align: left;
  margin-left:200px;
  margin-top:60px;
  float: left;
}
.chef img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
.chef h3 {
  font-size:25px;
    color: #9f7539;
  display: inline;
  position: relative;
  top:-60px;
  left: 5px;
}
.chef h4 {
  color: #c49b63;
  font-size: 16px;
  position: relative;
  top:-55px;
  padding-left: 110px;  
}
.chef p {
  font-size:17px;
  color: #dddddd;
  line-height: 1.5;
  padding-left:20px;
  position: relative;
  top:-20px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.team{
    height: 100vh;
}
.contaneer-team{
    width: 85%;
    margin: auto;
}
.team-parant{
    margin-top:50px;
    margin-left:55px;
}
.team-item{
    display: inline-block;
    position: relative;
    border-radius: 8px;
     border:1px solid black;
    width: 26%;
    background-color:#f6e0c8;
    text-align: center;
    padding:18px 14px;
}
.team-item2{
    margin: 0px 5%;
}
.team-imag{
    width: 85%;
    position: relative;
    margin: auto;
}
.team-img{
    width: 100%;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 2s;
}
.team-item:hover .team-overlay{
    opacity: 1;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #9d4e2a;
    color: #fff;
    font-size: 22px;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-tittle1{
    color: #000000;
    padding:20px;
}
.team-tittle1,.team-p{
    text-transform: capitalize;
}
.team-p{
      color: #904c2c; 
      padding-bottom: 20px;
}
.team-item:hover .team-tittle1{
  color: #904c2c; 
}
.team-item:hover .team-p{
     color: rgb(67, 67, 67);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.news{
    height: 100vh;
}
.news-contaner{
    width: 85%;
    margin:auto;
}
.news-parant{
    margin-top:50px;
    margin-left:122px;
}
.news-item{
    display: inline-block;
    position: relative;
    width: 26%;
    background-color:#f6e0c8;
    border: 1px solid black;
    text-align: center;
    padding:18px 14px;
    border-radius: 8px;
}
.news-item2{
    margin: 0px 5%;
}
.news-img{
    width: 85%;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    margin: auto;
}
.news-icon{
  margin-top: 20px;
  font-size: 20px ;
}
.news-icon i{
    letter-spacing:10px;
     color: #FFA500; 
}
.news-tittle1{
  padding: 20px;
}
.news-icon span{
    margin-right: 10px;
}
.news-p{
  padding-bottom: 20px;
color: rgb(67, 67, 67);}
.news-btn{
   text-decoration: none;
   color: #904c2c;
   font-size: 18px;
}
.news-item:hover .news-icon{
    color: #904c2c;
}
.news-item:hover .news-p{
    color: #904c2c;
}
.news-item:hover .news-tittle1{
    color: #b2633e;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.last{
    text-align: center;
}
.last-content{
    height:55vh;
    background-color: #f6e0c8;
}
.last-content img{
    border-radius: 10px;
    margin-top:50px;
    border: 1px solid black;
}
.last-icons{
    font-size:22px;
    color: white;
    margin-top: 15px;
    letter-spacing:12;
}
.last-p{
  padding-top:15px;
}
.last-icons i{
     background-color: hsla(19, 53%, 37%,0.8);
    width:45px;
    height: 45px;
    border-radius: 50%;
    line-height:45px;
    cursor: pointer;
    padding-left:10px;
}
.last-icons i:hover{
    background-color: #904c2c;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */